body p {
    font-family: 'Palanquin', sans-serif;
    text-align: justify;
    margin: 0;
    padding: 0;

}

.first-section {
    display: flex;
}

.first-section h1 {
    font-family: 'DM Serif Display';
    font-weight: 700;
    font-size: 50px;
    border-left: 3px solid rgb(149, 235, 0.774);
    padding-left: 10px;
}

h1 span {
    color: rgb(192, 9, 247);
}

.section1-div2 img {
    height: 400px;
    width: auto;
    padding-top: 50px;
    padding-left: 40%;
}

.section1-div1 {
    width: 45%;
    padding: 5px 10px;
    margin-left: 5%;
}

.section1-div2 {
    width: 45%;
    padding: 5px 10px;
    margin-left: 5%;
}


.button {
    font-weight: 700;
    text-decoration: none;
    background-color: rgb(135, 226, 30);
    color: rgb(4, 0, 7);
    padding: 10px 20px;
    border-radius: 25px;
}

/* second section start */


.second-section h1 {
    font-family: 'Alata', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 50px;

}

.parent1 {
    margin: 10px 104px;
    width: 90%;

}

.second-sec-div1 {
    height: 500px;
    width: 30%;
    background-color: rgba(197, 241, 73, 0.493);
    margin: 14px;
    float: left;
    border-radius: 20px;
}

.second-sec-div2 {
    height: 500px;
    width: 30%;
    background-color: rgba(212, 212, 146, 0.562);
    margin: 10px;
    float: left;
    border-radius: 20px;
}

.second-sec-div3 {
    height: 500px;
    width: 30%;
    background-color: rgba(177, 159, 201, 0.836);
    margin: 10px;
    float: left;
    border-radius: 20px;
}

.parent1 h3 {
    font-family: 'Palanquin', sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.parent1 img {
    height: 150px;
    padding-left: 30%;
}

.parent1 p {
    padding: 5px 15px;
    text-align: justify;
}

/* third section start */

.third-sec-div1 {

    border: 1px solid;
}

.third-sec-div2 {
    width: 50%;
    border: 1px solid;
}

.third-sec-div1 img {
    height: 200px;
    margin-left: 0px;
}

/* fourth section start */

.fourth-sec-parent {
    display: flex;
    padding-top: 100px;
}

.fourth-sec-div1 {
    height: 400px;
    width: 50%;
    padding: 100px 50px 0px 104px;


}

.fourth-sec-div2 {
    height: 400px;
    width: 50%;
    padding-top: 50px;
    padding-left: 25%;

}

.fourth-sec-div2 img {
    height: 500px;
    width: auto;
    padding-right: 197px;

}

.fourth-sec-div1 h1 {
    font-family: 'Palanquin', sans-serif;
    text-align: left;
    font-size: 50px;
    font-weight: 700;
}

/* footer section start */

.fifth-section {
    padding-top: 100px;
    text-align: center;
    font-weight: 700;


    .fifth-section h1 {
        font-family: 'Palanquin', sans-serif;
    }
}

.fifth-sec-parent {
    padding-top: 100px;
    padding-left: px;
    display: flex;
}

.fifth-sec-div1 {
    height: 500px;
    width: 50%;
    padding-left: 20px;
}

.fifth-sec-div2 {
    height: 500px;
    width: 50%;
    padding-right: 50px;
    padding-top: 100px;
}

.fifth-sec-div1 img {
    height: 500px;
    width: 30%;
}

/* footer section start */

footer {
    height: 200px;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 200px;
}

footer p {
    color: white;
    text-align: center;
    padding-top: 0px
}

footer span {
    color: tomato;
}

footer h2 {
    font-family: 'Lobster Two', cursive;
    padding-top: 50px;
    font-weight: 700;
}